.timetable th, .timetable td {
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.3s, transform 0.3s;
}

.timetable td {
    cursor: pointer;
}

.timetable td:hover {
    background-color: #e9ecef;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.table-secondary {
    background-color: #f1f1f1;
    font-weight: bold;
}
